<a href="https://colab.research.google.com/github/AssiaThabet/first_git/blob/main/Untitled59.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
samples = pd.read_csv('/content/export - Образцы.csv')

In [3]:
sources = pd.read_csv('/content/export - Источники.csv')
companies = pd.read_csv('/content/export - Марка воды.csv')

In [4]:
sources.head(2)

,id,Название,Заметки,Марка воды,Образцы,Скважина
0,1,(№ 49-Э) Вода минеральная природная лечебно-ст...,NaN,Ессентуки № 4,"507 стекло 0.45 л,""365 ПЭТ 1,5 л"",364 стекло 0...",№ 49-Э
1,2,(№ 71) Вода минеральная природная лечебно-стол...,NaN,Ессентуки № 4,"795,2516,472,471,474,3295,3296,511,513,514,512...",№ 71

In [5]:
companies

,id,Название,Заметки,Скважины
0,1,Ессентуки № 4,NaN,(№ 49-Э) Вода минеральная природная лечебно-ст...
1,2,Ессентуки № 17,NaN,(№17-бис) Вода минеральная природная лечебно-с...
2,3,Архыз,NaN,Скважина 15 Архыз

In [30]:
int(sources.loc[(sources['Название'] == '(№ 49-Э) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 49-Э  Ессентукское месторождение)')]['id'])

1

In [11]:
sources.size

42

In [15]:
each_company=[i.split( ',') for i in companies['Скважины']]

In [22]:
table1 = pd.DataFrame(r)

In [23]:
table1

   0                                                  1
0  1  (№ 49-Э) Вода минеральная природная лечебно-ст...
1  1  (№ 71) Вода минеральная природная лечебно-стол...
2  1  (№ 57-РЭ-бис) Вода минеральная природная лечеб...
3  2  (№17-бис) Вода минеральная природная лечебно-с...
4  2  "(№ 24-бис-1) Вода минеральная природная лечеб...
5  2           № 24-бис-1  Ессентукское месторождение)"
6  3                                  Скважина 15 Архыз

In [16]:
each_company

[['(№ 49-Э) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 49-Э  Ессентукское месторождение)',
  '(№ 71) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 71 Ессентукское месторождение)',
  '(№ 57-РЭ-бис) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 57-РЭ-бис Ессентукское месторождение)'],
 ['(№17-бис) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 17» (скважина  №17-бис Ессентукское месторождение)',
  '"(№ 24-бис-1) Вода минеральная природная лечебная питьевая «Ессентуки № 17» (скважина № 17-бис',
  ' № 24-бис-1  Ессентукское месторождение)"'],
 ['Скважина 15 Архыз']]

In [20]:
r =[]
n=0
for i in each_company:
  n+=1
  for j in i:
      r.append([n, ])

In [21]:
r

[[1,
  '(№ 49-Э) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 49-Э  Ессентукское месторождение)'],
 [1,
  '(№ 71) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 71 Ессентукское месторождение)'],
 [1,
  '(№ 57-РЭ-бис) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 4» (скважина № 57-РЭ-бис Ессентукское месторождение)'],
 [2,
  '(№17-бис) Вода минеральная природная лечебно-столовая питьевая «Ессентуки № 17» (скважина  №17-бис Ессентукское месторождение)'],
 [2,
  '"(№ 24-бис-1) Вода минеральная природная лечебная питьевая «Ессентуки № 17» (скважина № 17-бис'],
 [2, ' № 24-бис-1  Ессентукское месторождение)"'],
 [3, 'Скважина 15 Архыз']]